/* Exercicio 4*/
.container {
    display: grid;
    gap: 10px;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
}

.container > div {
    display: grid;
    background: #aaa;
    height: 100px;
    place-items: center;
    border-radius: 5px;

    font-size: 20px;
    font-weight: bold;
}

/* Exercicio 5*/

.layout {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr 60px;
    height: 100vh;
}

.header {
    grid-column: 1 /    3;  
}

.footer {
    grid-column: 1 / 3;
}

/* Exercicio 6*/
.galeria {
    display: grid;
    background: #454545;
    padding: 40px;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.galeria img{
    border: solid 5px #ffffff;
    width: 100%;
    height: auto;
    display: block;
}